*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #0c192c;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bubbles {
  position: relative;
  display: flex;
}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background-color:aqua;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 
  0 0 50px aqua,
  0 0 100px aqua;
  animation: animate 15s linear infinite;
  animation-duration: calc(130s / var(--i));
}

.bubbles span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544, 
  0 0 50px #ff2d75,
  0 0 100px #ff2d75;
}
@keyframes animate {
  0%
  {
    transform: translateY(100vh) scale(0)
  }

  100%
  {
    transform: translateY(-10vh) scale(1)
  }
  
}


#connect:hover {
  background-color: #4fc3dc44;
}
.device-info {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}
.apple-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;

}

.apple-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.device-info-attribute {
  display: inline-block;
  color: white;
  border: 2px solid white;
  width: 300px;
  padding: 5px 10px;
  border-radius: 10px;
}

.apple-label {
  display: inline-block;
  width: 120px;
  font-weight: bold;
  margin-right: 10px;
  color: white;
}

.apple-list li {
  padding: 5px 0;
}

#usb-content {
  background: #0c192c92;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* Adjust the top value to change the vertical position of the element */
  top: 50px;

}

#connect {
  display: inline-block;
  position: absolute;
  top: 400px;
  padding: 0.5em 1em;
  border-radius: 2em;
  background-color: transparent;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


body {
  font-family: "Avenir", sans-serif;
}